:root {
--baltic-blue: #2f6690ff;
--cerulean: #3a7ca5ff;
--alabaster-grey: #d9dcd6ff;
--yale-blue: #16425bff;
--sky-blue-light: #81c3d7ff;
--white: #FFFFFF;
}

/* Global styles 
------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #d9dcd6ff;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0;
}

.column-narrow {
    width: 30%; 
    float: left; 
    padding-right: 3%; 
    min-height: 175px;
}

.column-wide {
    width: 70%; 
    float: left; 
    min-height: 225px;
}

h1, h2, h3, h4 {
    font-family: "Archivo";
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
    margin-top: 0;

}

header {
    background-color: #16425bff;
    color: #d9dcd6ff;

    .profile-img {
        width: 300px;
        border-radius: 50%;
        margin-right: 30px;
        float: left;
    }

    h1, h2 {
        margin: 0;

    }
}

.content-wrap {
    max-width: 950px; 
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

header a {
    color: #81c3d7ff;
}

.work-experience {
    background-color: #d9dcd6ff;
}

.education {
    background-color: #d9dcd6ff;
}

footer {
    background-color: #2f6690ff;
    color: #d9dcd6ff;
    text-align: center;
}

footer a {
    color: #16425bff;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}